{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section ">
    <h4>Контроль обучения</h4>
    <div class="divider"></div>
</div>

<ul class="collapsible expandable">
    {% for profile in profiles %}
    <li>
        <div class="collapsible-header">
            <i class="material-icons">expand_more</i>
            <div>
                {{ profile.user.first_name }} {{ profile.user.last_name }}
            </div>
        </div>

        <div class="collapsible-body">
            <a href="{% url 'assign-course' profile.id %}" class="btn-small green darken-1">Добавить курс</a>
            <a href="{% url 'unassign-course' profile.id %}" class="btn-small red darken-1" style="margin-left: 10;">
                Удалить курс
            </a>

            <table class="highlight">
                <thead>
                    <tr>
                        <th style="font-weight: 600;">Курс</th>
                        <th style="font-weight: 600;">Статус</th>
                        <th style="font-weight: 600;">Назначен</th>
                        <th style="font-weight: 600;">Выполнен</th>
                        <th style="font-weight: 600;">Срок сдачи</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ac in profile.assigned_courses.all %}
                    <tr>
                        <td>{{ ac.course }}</td>
                        <td>
                            {% if ac.is_completed == False and ac.is_expired == True %}
                            <p class="yellow-text text-darken-2">Просрочен</p>
                            {% elif ac.is_completed == False %}
                            <p class="red-text">Не завершен</p>
                            {% elif ac.is_completed == True %}
                            <p class="green-text">
                                Завершен
                            </p>
                            {% endif %}
                        </td>
                        <td>{{ ac.date_added }}</td>
                        <td>{% if ac.completion_date == None %}
                            {% else %}
                            {{ ac.completion_date }}
                            {% endif %}
                        </td>
                        <td>
                            {% if ac.due_date != None %}
                            {{ ac.due_date }}
                            {% else %}
                            Бессрочно
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}