{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section">
    <h5>Статистика обучения пользователей</h5>
    <div class="divider"></div>
</div>

<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#test1" class="">Всего</a></li>
            <li class="tab col s3"><a href="#test2" class="">Сегодня</a></li>
            <li class="tab col s3"><a href="#test3" class="">Test 3</a></li>
            <li class="tab col s3"><a href="#test4" class="">Test 4</a></li>
        </ul>
    </div>
    <div id="test1" class="col s6">
        <div class="collection">
            <a class="collection-item tooltipped" data-position="right"
                data-tooltip="Количество пройденных курсов за всё время">
                <span class="badge black-text"><b style="font-weight: 500;">14</b></span>
                <span class="black-text">Всего курсов</span>
                <span class="green-text text-darken-1">пройдено</span>
            </a>
            <a class="collection-item tooltipped" data-position="right"
                data-tooltip="Количество не пройденных курсов за всё время">
                <span class="badge black-text"><b style="font-weight: 500;">8</b></span>
                <span class="black-text">Всего курсов</span>
                <span class="red-text text-darken-1">не пройдено</span>
            </a>
            <a class="collection-item tooltipped" data-position="right"
                data-tooltip="Количество просроченных курсов за всё время">
                <span class="badge black-text"><b style="font-weight: 500;">3</b></span>
                <span class="black-text">Всего курсов</span>
                <span class="yellow-text text-darken-2">просрочено</span>
            </a>
        </div>
    </div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
</div>
{% endblock %}