{% extends 'base.html' %}
{% load static %}

{% block banner %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br>
        <h2 class="header black-text center">Обучение для сотрудников</h2>
        <h5 class="header col s12 light center">Прокачайте навыки, повысьте квалификацию.</h5>
    </div>

</div>

{% endblock %}


{% block content  %}
<div class="section ">
    <h4>Направления</h4>
    <div class="divider"></div>
</div>

<div class="row">
    {% for category in categories %}
    <div class="col s12 m4">
        <a href="{% url 'category-courses' category.slug %}">
            <div class="card-panel grey lighten-4 center-align blue-text text-darken-4">
                <i class="material-icons large">{{ category.icon }}</i>
                <h5><b>{{ category.title }}</b></h5>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}