{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- current courses -->
<div class="section ">
    <h4>Текущие курсы</h4>
    <div class="divider"></div>
</div>

<div class="row">
    {% if not active_courses %}
    <span>У вас пока нет назначенных курсов</span>
    {% endif %}

    {% for ac in active_courses %}
    <div class="col s12 m4">
        <div class="card hoverable sticky-action">
            <!-- image -->
            <div class="card-image" style="height: 200;">
                <img src="{{ ac.course.picture.url }}" style="height: 100%;">
            </div>

            <!-- card content -->
            <div class="card-content">
                <span class="card-title" style="font-weight: 350;">{{ ac.course.title }}</span>
                <span class="grey-text text-darken-1">{{ ac.course.description }}</span>
                <span>Дата сдачи:
                    {% if ac.due_date %}
                    <span class="red-text text-darken-1">{{ ac.due_date }}</span>
                    {% else %}
                    <span class="green-text text-darken-1">Бессрочно</span>
                    {% endif %}
                </span>
            </div>

            <!-- card actions -->
            <div class="card-action">
                <div class="row" style="margin-bottom: 0;">
                    <div class="col s6">
                        <a href="{% url 'course' ac.course.id %}" class="btn green darken-1">Пройти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- сompleted courses -->
<div class="section ">
    <h4>Пройденные курсы</h4>
    <div class="divider"></div>
</div>

<div class="row">
    {% if not completed_courses %}
    <span>У вас пока нет пройденных курсов</span>
    {% endif %}
    {% for cc in completed_courses %}
    <div class="col s12 m4">
        <div class="card hoverable sticky-action">
            <!-- image -->
            <div class="card-image" style="height: 200;">
                <img src="{{ cc.course.picture.url }}" style="height: 100%;">
            </div>

            <!-- card content -->
            <div class="card-content">
                <span class="card-title" style="font-weight: 350;">{{ cc.course.title }}</span>
                <span class="grey-text text-darken-1">{{ cc.course.description }}</span>
                <span>Выполнен:
                    {% if cc.completion_date %}
                    <span class="green-text text-darken-1">{{ cc.completion_date }}</span>
                    {% endif %}
                </span>
            </div>

            <!-- card actions -->
            <div class="card-action">
                <div class="row" style="margin-bottom: 0;">
                    <div class="col s6">
                        <a href="{% url 'course' cc.course.id %}" class="btn blue darken-1">Повторить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}