{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section ">
    <a href="{% url 'newcourse' %}" class="btn green darken-1 right">Создать курс</a>
    <h4>Управление курсами</h4>
    <div class="divider"></div>
</div>

<div class="row">
    {% for course in courses %}
    <div class="col s12 m4">
        <div class="card hoverable sticky-action">
            <!-- image -->
            <div class="card-image" style="height: 200;">
                <img src="{{ course.picture.url }}" style="height: 100%;">
            </div>

            <!-- card content -->
            <div class="card-content">
                <span class="card-title" style="font-weight: 350;">{{ course.title }}</span>
                <span class="grey-text text-darken-1">{{ course.description }}</span>
            </div>

            <!-- card actions -->
            <div class="card-action">
                <div class="row" style="margin-bottom: 0;">
                    <div class="col s6">
                        <a href="{% url 'course' course.id %}" class="btn green darken-1">Редактировать</a>
                    </div>
                    <div class="col s6">
                        <a href="{% url 'delete-course' course.id %}" class="btn red darken-1 right">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}