{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row center-align">
  <div class="col s12">
    <form method="post" enctype="multipart/form-data" action="" role="form">
      {% csrf_token %}
      <h3 class="title is-3">Создать курс</h3>

      <div class="file-field input-field">
        <div class="btn waves-effect hoverable blue darken-4">
          <span>Обложка</span>
          {{ form.picture }}
        </div>

        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>

      <div class="input-field col s12">
        <p class="left" style="margin: 0;">Название</p>
        {{ form.title }}
      </div>

      <div class="input-field col s12">
        <p class="left" style="margin: 0;">Краткое описание</p>
        {{ form.description }}
      </div>

      <br>
      Расскажите, о чём будет этот курс
      <div class="input-field col s12">
        {{ form.syllabus }}
      </div>

      <div class="row">
        <div class="col s12">
          <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
        </div>
      </div>

      <div class="field">
        <p class="control">
          <button type="submit" value="login" class="btn waves-effect hoverable blue darken-4">
            Сохранить
          </button>
        </p>
      </div>
    </form>
  </div>
</div>

{% endblock %}