{% load static %}

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Educon</title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <div class="row center" style="margin-top: 5%;">
        <div class="col s4 offset-s4">
            <h4 class="light-blue-text text-darken-4">Educon</h4>
            <h5 class="title is-3">Вход</h5>

            <form method="post" role="form">
                {% csrf_token %}
                <div class="input-field">
                    <span class="left">Имя пользователя</span>
                    {{ form.username }}
                </div>

                <div class="input-field">
                    <span class="left">Пароль</span>
                    {{ form.password }}
                </div>

                {% if form.errors %}
                <div class="row">
                    <div class="col s12">
                        <span style="color: red; font-weight: bold;">Неверное имя пользователя или пароль.</span>
                    </div>
                </div>
                {% endif %}

                <button type="submit" value="login" class="btn light-blue darken-4"
                    style="margin-top: 25; margin-bottom: 10;">
                    Войти
                </button>
                <p>Нет аккаунта? <a href="{% url 'signup' %}">Зарегистрируйтесь</a></p>
            </form>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' }"></script>
</body>