{% extends 'base.html' %}
{% load static %}

{% block content %}
<h4 class="center">Мои данные</h4>
<div class="row center-align">
  <div class="col s6 offset-s3">
    <form method="post" enctype="multipart/form-data" action="" role="form">
      {% csrf_token %}

      <div class="row" style="margin-bottom: 0;">
        <div class="input-field col s7 offset-s3">
          <p class="left" style="margin: 0; font-weight: 600;">Имя</p>
          {{ form.first_name }}
        </div>
      </div>

      <div class="row" style="margin-bottom: 0;">
        <div class="input-field col s7 offset-s3">
          <p class="left" style="margin: 0; font-weight: 600;">Фамилия</p>
          {{ form.last_name }}
        </div>
      </div>

      <div class="row" style="margin-bottom: 0;">
        <div class="input-field col s7 offset-s3">
          <p class="left" style="margin: 0; font-weight: 600;">Отчество</p>
          {{ form.patronymic }}
        </div>
      </div>

      <div class="row" style="margin-bottom: 0;">
        <div class="input-field col s7 offset-s3">
          <p class="left" style="margin: 0; font-weight: 600;">Имя пользователя</p>
          {{ form.username }}
        </div>
      </div>

      <div class="row" style="margin-bottom: 0;">
        <div class="input-field col s7 offset-s3">
          <p class="left" style="margin: 0; font-weight: 600;">Почта</p>
          {{ form.email }}
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
        </div>
      </div>
      <button type="submit" value="login" class="btn green darken-1" style="margin-top: -10;">
        Сохранить
      </button>
    </form>
  </div>
</div>
{% endblock %}