{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section ">
    <h4>{{ course.title }}</h4>
    <div class="divider"></div>
</div>

<div class="row">
    <div class="col s3">
        <ul class="collection with-header">
            <li class="collection-header">
                <h5>Разделы</h5>
            </li>
            <a href="{% url 'course' course.id %}" class="collection-item blue-text text-darken-4">Главная</a>
            <a href="{% url 'modules' course.id %}" class="collection-item active blue darken-4">Модули</a>
            <a href="{% url 'quiz' course.id %}" class="collection-item blue-text text-darken-4">Тестирование</a>
        </ul>
    </div>

    <div class="col s9">
        {% if teacher_mode == True %}
        <a href="{% url 'new-module' course.id %}" class="btn-small hoverable waves-effect blue darken-4 right">
            + Добавить модуль
        </a>
        {% endif %}

        <h5 class="left-align">Модули</h5>
        <div class="divider"></div>
        <ul class="collapsible">
            {% for module in course.modules.all %}
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">expand_more</i>
                    {{ module.title }}
                </div>

                <div class="collapsible-body">
                    {% if teacher_mode == True %}
                    <a href="{% url 'new-page' course.id module.id %}"
                        class="btn-small hoverable waves-effect blue darken-4">+ Добавить
                        страницу</a>
                    {% endif %}

                    <div class="collection">
                        {% for page in module.pages.all %}
                        <a href="{% url 'page-detail' course.id module.id page.id %}"
                            class="collection-item blue-text text-darken-4">
                            § {{ page.title }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}