{% load static %}
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Educon</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="blue darken-4" role="navigation">
        <div class="nav-wrapper container">
            <a href="{% url 'index' %}" class="brand-logo"><i class="material-icons">cloud</i>Educon</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large">
                        <i class="material-icons left">person</i>Профиль
                    </a>
                </li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li>
                    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large">
                        <i class="material-icons left">person</i>Профиль
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="{% static 'img/banner.png' %}" />
                </div>
                <br>
                <span class="white-text name">
                    {{ nav_profile.user.first_name }}
                    {{ nav_profile.user.last_name}}
                </span>

                <span class="white-text email">
                    {{ nav_profile.user.email }}
                </span>
            </div>
        </li>

        <li><a href="{% url 'profile' nav_profile.user.username %}"><i class="material-icons">person</i>Мой профиль</a>
        </li>
        <li><a href="{% url 'categories' %}"><i class="material-icons">school</i>Курсы</a></li>
        {% if nav_profile.user.is_staff %}
        <li><a class="subheader">Панель управления</a></li>
        <li><a href="{% url 'my-courses' %}"><i class="material-icons">menu_book</i>Управление курсами</a></li>
        <li><a href="{% url 'newcourse' %}"><i class="material-icons">note_add</i>Создать курс</a></li>
        {% endif %}
        <li>
            <div class="divider"></div>
        </li>
        <li><a href="{% url 'logout' %}"><i class="material-icons">logout</i>Выйти</a></li>
    </ul>
    {% block banner %}
    {% endblock %}

    <div class="container">
        <div class="section">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <br><br>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    {% block javascript %}
    {% endblock %}
</body>