{% load static %}
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Educon</title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <ul id="admin-panel" class="dropdown-content">
        <li><a href="{% url 'my-courses' %}"><span class="black-text">Редактор курсов</span></a></li>
        <li><a href="{% url 'employees' %}"><span class="black-text">Управление обучением</span></a></li>
        <li class="divider"></li>
        <li><a href="{% url 'admin:index' %}"><span class="black-text">Администрирование Django</span></a></li>
    </ul>
    <ul id="user-panel" class="dropdown-content">
        <li><a href="{% url 'edit-profile' %}"><span class="black-text">Профиль</span></a></li>
        <li class="divider"></li>
        <li><a href="{% url 'logout' %}"><span class="black-text">Выйти</span></a></li>
    </ul>

    <nav class="light-blue darken-4">
        <div class="nav-wrapper" style="padding-left: 20px;">
            <a href="{% url 'index' %}" class="brand-logo">
                <i class="material-icons">cloud</i>
                Educon
            </a>

            {% if user.profile.role == 'user' %}
            <ul class="hide-on-med-and-down" style="margin-left: 150px;">
                <li>
                    <a href="{% url 'courses' %}">
                        <span style="margin-bottom: 1px; padding-bottom: 1px;">
                            Моё обучение
                        </span>
                    </a>
                </li>
            </ul>
            {% endif %}

            <ul class="right hide-on-med-and-down">
                {% if user.profile.role == 'admin' %}
                <li><a class="dropdown-trigger" data-target="admin-panel">Панель администратора</a></li>
                {% endif %}
                <li>
                    <a class="dropdown-trigger" data-target="user-panel">
                        <i class="material-icons">more_vert</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    {% block banner %}
    {% endblock %}

    <div class="container">
        <div class="section">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    {% block javascript %}
    {% endblock %}
</body>