{% extends 'base.html' %}
{% load static %}

{% block banner %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br>
        <h5 class="header black-text center">Здравствуйте, {{ user.first_name }}!</h5>
        {% if user.profile.role == "admin" %}
        <p class="center">
            Не забывайте
            <a href="{% url 'manage-courses' %}">управлять курсами</a>
            и
            <a href="{% url 'employees' %}">контролировать обучение</a>
            сотрудников
        </p>
        {% endif %}

        {% if user.profile.role == "user" %}
        <p class="center">
            Следите за <a href="{% url 'my-courses' %}">своим обучением</a> и регулярно посещайте данный раздел
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}