{% extends 'base.html' %}
{% load static %}

{% block banner %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h2 class="header black-text center">Обучение для сотрудников</h2>
        <h5 class="header col s12 light center">Прокачайте навыки, повысьте квалификацию.</h5>
    </div>

    <div class="row center">
        <br>
        <a class="btn-large blue darken-4" href="{% url 'categories' %}">Посмотреть курсы</a>
    </div>
</div>
{% endblock %}

{% block content  %}
{% endblock %}