{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row center-align">
    <div class="col s12">
        <form method="post" enctype="multipart/form-data" action="" role="form">
            {% csrf_token %}
            <h5>Добавить вопрос</h5>

            <div class="input-field col s12">
                <p class="left" style="margin: 0;">Вопрос</p>
                {{ form.question_text }}
            </div>

            <!-- 1 answer field -->
            <div class="input-field col s9">
                <p class="left" style="margin: 0;">Ответ 1</p>
                <input type="text" name="answer_text" id="id_answer_text" class="validate">
            </div>

            <!-- 1 answer choice field -->
            <div class="input-field col s3">
                <p class="left grey-text" style="margin: 0;">Этот ответ верный?</p>
                <select id="id_is_correct" name="is_correct">
                    <option value="" disabled selected>Выбрать</option>
                    <option value="True">Да</option>
                    <option class="" value="False">Нет</option>
                </select>
            </div>

            <!-- 2 answer field -->
            <div class="input-field col s9">
                <p class="left" style="margin: 0;">Ответ 2</p>
                <input type="text" name="answer_text" id="id_answer_text" class="validate">
            </div>

            <!-- 2 answer choice field -->
            <div class="input-field col s3">
                <p class="left grey-text" style="margin: 0;">Этот ответ верный?</p>
                <select id="id_is_correct" name="is_correct">
                    <option value="" disabled selected>Выбрать</option>
                    <option value="True">Да</option>
                    <option value="False">Нет</option>
                </select>
            </div>

            <!-- 3 answer field -->
            <div class="input-field col s9">
                <p class="left" style="margin: 0;">Ответ 3</p>
                <input type="text" name="answer_text" id="id_answer_text" class="validate">
            </div>

            <!-- 3 answer choice field -->
            <div class="input-field col s3">
                <p class="left grey-text" style="margin: 0;">Этот ответ верный?</p>
                <select id="id_is_correct" name="is_correct">
                    <option value="" disabled selected>Выбрать</option>
                    <option value="True">Да</option>
                    <option value="False">Нет</option>
                </select>
            </div>

            <!-- 4 answer field -->
            <div class="input-field col s9">
                <p class="left" style="margin: 0;">Ответ 4</p>
                <input type="text" name="answer_text" id="id_answer_text" class="validate">
            </div>

            <!-- 4 answer choice field -->
            <div class="input-field col s3">
                <p class="left grey-text" style="margin: 0;">Этот ответ верный?</p>
                <select id="id_is_correct" name="is_correct">
                    <option value="" disabled selected>Выбрать</option>
                    <option value="True">Да</option>
                    <option value="False">Нет</option>
                </select>
            </div>

            <div class="row">
                <div class="col s12">
                    <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
                </div>
            </div>

            <div class="col s12">
                <p class="control">
                    <button type="submit" value="login" class="btn green darken-1">
                        Добавить
                    </button>
                </p>
            </div>

            <div class="col s12">
                <a class="btn red darken-1" href="{% url 'take-quiz' course_id quiz_id %}">Назад</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}