{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section">
    <h4>{{ quiz.title }}</h4>
    <div class="divider"></div>
</div>
{{ quiz.description | safe }}

<br>
<table class="highlight">
    <thead>
        <tr>
            <th style="font-weight: 600;">Мои попытки</th>
            <th style="font-weight: 600;">Баллы</th>
            <th style="font-weight: 600;">Тест пройден</th>
        </tr>
    </thead>

    <tbody>
        {% for attempt in my_attempts %}
        <tr>
            <td>
                <a href="">Попытка {{ forloop.counter }}</a>
            </td>
            <td>{{ attempt.score }} / {{ max_score }}</td>
            <td>
                {% if attempt.test_completed %}
                <span class="green-text text-darken-1">Да</span>
                {% else %}
                <span class="red-text text-darken-1">Нет</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a class="btn green darken-1" href="{% url 'take-quiz' course_id quiz.id %}">Пройти тест</a>
{% endblock %}