{% extends 'base.html' %}
{% load static %}

{% block content %}
<h5>{{ quiz.title }}</h5>

<div class="col s12">
    {{ quiz.description | safe }}
    <div class="divider"></div>
</div>

<form method="post" action="{% url 'submit-quiz' course_id quiz.id %}" role="form" class="col s12">
    {% csrf_token %}
    {% for question in quiz.questions.all %}
    <div class="col s12">
        <p style="font-weight: 600;">{{ question.question_text }}</p>
        <input type="hidden" name="question" value="{{ question.id }}">
    </div>

    {% for answer in question.answers.all %}
    <div class="input col s12">
        <label>
            <input name="answer" type="checkbox" value="{{ answer.id }}" />
            <span class="black-text">{{ answer.answer_text }}</span>
        </label>
    </div>
    {% endfor %}
    <br>
    {% endfor %}

    <div class="col s12">
        <div class="divider"></div>
        <br>

        {% if profile.role == 'user' %}
        <div class="">
            <button type="submit" value="login" class="btn green darken-1">
                Завершить тест
            </button>
        </div>
        {% else %}
        <a href="{% url 'course-test' course_id %}" class="btn red darken-1">
            Назад
        </a>

        <a href="{% url 'new-question' course_id quiz.id %}" class="btn green darken-1">
            Добавить вопрос
        </a>
        {% endif %}
    </div>
</form>
</div>
{% endblock %}